.btn-default {
    margin-left: 20px !important;
    margin-top: 20px;
}

.container-fluid {
    text-align: center;
    margin-bottom: 25px;
}

#klikker {
    font-size: 70px;
}

.container-fluid {
    padding: 0;
}
.box{
    background: rgba(255, 235, 238, 0.2);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}
.header {
    background: rgba(38, 198, 218, 0.4); /* Old browsers */
    padding-bottom: 25px;
}

.container-fluid {
    padding: 0 !important;
}
body{
    background: linear-gradient(123deg, #03a9f4, #e91e63, #5e35b1, #ff1744, #4DD0E1);
    background-size: 800% 800%;

    -webkit-animation: BackgroundGradientAnimation 16s ease infinite;
    -moz-animation: BackgroundGradientAnimation 16s ease infinite;
    animation: BackgroundGradientAnimation 16s ease infinite;
}

@-webkit-keyframes BackgroundGradientAnimation {
    0% {
        background-position: 0% 88%
    }
    50% {
        background-position: 100% 13%
    }
    100% {
        background-position: 0% 88%
    }
}

@-moz-keyframes BackgroundGradientAnimation {
    0% {
        background-position: 0% 88%
    }
    50% {
        background-position: 100% 13%
    }
    100% {
        background-position: 0% 88%
    }
}

@keyframes BackgroundGradientAnimation {
    0% {
        background-position: 0% 88%
    }
    50% {
        background-position: 100% 13%
    }
    100% {
        background-position: 0% 88%
    }
}

h1 {
    margin-top: 0 !important;
    padding-top: 15px;
}

.icon {
    margin-right: 5px;
    margin-bottom: 3px;
}
p, h1, h2, h3, h4, h5,h6{
    color: white;
}
h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}
