.btn-default{
    margin-left: 20px !important;
    margin-top: 20px;
}
.container-fluid{
    text-align: center;
    margin-bottom: 25px;
}
#klikker{
    font-size: 40px;
}
.container-fluid {
    padding: 0;
}
.header{
    background: #00BCD4;
    padding-bottom: 25px;
}
.container-fluid{
    padding: 0 !important;
}
h1{
    margin-top: 0 !important;
    padding-top: 15px;
}
